.App {
    text-align: center;
}

circle {
    stroke-width: 1px;
}

rect {
    stroke: rgb(31, 119, 180);
    stroke-width: 0.5px;
}

rect.legend {
    fill-opacity: .25;
}

.leaf circle {
    fill-opacity: 1;
}

.node {
    fill: #ddd;
    stroke: #fff;
}

th {
    font-size: 14px;
    font-weight: semibold;
    color: #4a4a4a;
    text-transform: uppercase;
}

tbody > tr:hover:not(.detail) {
    background-color: #F5F8FC;
}

td:hover a {
    opacity: 1;
}

.detail {
    background-color: #eff2f6;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.warning {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.warning .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 10%;
}

.warning:hover .tooltiptext {
    visibility: visible;
}